<ion-card-content>
  <ion-row class="round round_tools">
    <ion-col
      *ngFor="let namedScore of namedScoresEnv"
      [size]="namedScore.name === 'Joker' ? '4.8' : '2.4'"
    >
      <ion-button
        expand="block"
        [color]="namedScore.name === 'Joker' ? 'darkblue' : 'midblue'"
        (click)="addToNamedScoresLine(namedScore)"
      >
        {{ namedScore.name }}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="round round_result">
    <ion-col *ngFor="let namedScore of getMemberByPlayerId()?.namedScoresLine" class="ion-text-center" size="2">
      <ion-button
        fill="outline"
        [color]="namedScore.name === 'Joker' ? 'darkblue' : 'midblue'"
        (click)="removeFromNamedScoresLine(namedScore)"
      >
        {{ namedScore.name }}
        <ion-icon slot="end" name="close-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>
