<ion-card-content>
  <ion-row *ngFor="let car of carsScoresEnv" class="round round_tools">
    <ion-col class="round_tools__score">
      <ion-label>{{calcQtyOfArrItems(car.value)}}</ion-label>
    </ion-col>
    <ion-col class="round_tools__btn">
      <div class="incDecBtn">
        <ion-button shape="round" color="danger" (click)="removeFromScoresLine(car.value)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <span class="incDecBtn__caption">
          <ion-icon size="large" name="train-outline"></ion-icon>
          <ion-text>{{car.name}}</ion-text>
        </span>
        <ion-button shape="round" color="success" (click)="addToScoresLine(car.value)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-card-content>