<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">Cancel</ion-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="onSearchbarInput($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item>
      <ion-label>
        {{items.length + ' of ' + totalItems + ' items'}}
      </ion-label>
    </ion-item>
    <ion-list id="modal-list">
      <ion-item
        *ngFor="let item of items; let i = index"
        button="true"
        detail="true"
        (click)="confirm(item)"
      >
        <ion-label>{{ i + '. ' + item.name }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
</div>
