<ion-card-content>
  <ion-row class="round round_tools">
    <ion-col *ngFor="let routeScore of routesScoresEnv" size="3">
      <ion-button expand="block" [color]="routeScore.value > 19 ? 'darkblue' : 'midblue'"
        (click)="addToNamedScoresLine({value: routeScore.value * inverse, name: (numberFn(routeScore.name) * inverse) + '' })">
        {{routeScore.value * inverse}}
      </ion-button>
    </ion-col>
    <ion-col size="2" offset="1" >
      <ion-button [color]="'danger'" expand="block" (click)="inverseScore()">
        <ion-icon name="add-outline"></ion-icon>
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="round round_result">
    <ion-col class="ion-text-center" *ngFor="let routeScore of getMemberByPlayerId().namedScoresLine" size="2">
      <ion-button size="small" fill="outline" [color]="routeScore.value > 19 ? 'darkblue' : routeScore.value < 0 ? 'danger' : 'midblue'"
        (click)="removeFromNamedScoresLine({value: routeScore.value, name: routeScore.name})">
        {{routeScore.value}}
        <ion-icon  slot="end"  name="close-circle"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card-content>