<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Train analytics</ion-title> -->

    <ion-buttons slot="end">
      <ion-menu-button menu="analytics-menu"></ion-menu-button>
    </ion-buttons>
    <!-- <ion-segment [value]="stats[0]" (ionChange)="onMenuClickHandler($event)">
      <ion-segment-button *ngFor="let stat of stats; let idx = index" [value]="stat">
        <ion-icon [name]="stat.icon"></ion-icon>
      </ion-segment-button>
    </ion-segment> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size-lg="6" size-md="8" size-sm="10" offset-lg="3" offset-md="2" offset-sm="1">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Rummy</ion-card-title>
            <ion-card-subtitle class="ion-text-center">{{'modules.analytics.' + stat.name | translate}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngIf="(loading$ | async) === true">
              <ion-item lines="none" *ngFor="let x of array(5).fill('')">
                <ion-skeleton-text slot="start" animated style="width: 60%">
                </ion-skeleton-text>
                <ion-skeleton-text slot="end" animated>
                </ion-skeleton-text>
              </ion-item>

            </ion-list>

            <ion-list *ngIf="(loading$ | async) === false">
              <ion-item *ngFor="let player of (analytics$ | async); let idx = index">
                <div slot="start" [ngStyle]="{
                  'border-right': '6px solid ' + player.color,
                  'padding-right': '10px'
                }">{{idx+1}}</div>
                <ion-label>
                  {{player.name}}
                </ion-label>

                <ion-text slot="end" color="primary">
                  <ion-text class="bold" [color]="player.rating.scores < 0 ? 'danger' : 'success'"> {{player.rating.scores}}</ion-text>
                  / {{player.rating.totalGames}} / {{player.rating.wins}}
                </ion-text>
                <!-- <ion-text *ngIf="stat._id === 'getRatingByWinsToGames'" slot="end" color="primary">
                  {{player.rating.wins}}/{{player.rating.gamesCount}} ({{player.rating.wins ?
                  math.floor(player.rating.winsToGames * 100) : 0}}%)
                </ion-text> -->
              </ion-item>
            </ion-list>
            <!-- <ion-row class="ion-justify-content-around">
              <ion-button fill="outline" size="small" [disabled]="(rounds$ | async).length === 0"
                (click)="onFinishGameHandler()">
                {{'elements.button.finishGame' | translate}}
              </ion-button>
              <ion-button fill="outline" size="small" [disabled]="(rounds$ | async).length === 0"
                (click)="onCancelGameHandler()">
                {{'elements.button.cancelGame' | translate}}
              </ion-button> -->
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>